In [1]:
# Dependencies
import os
import pandas as pd
import numpy as np

In [2]:
# load CSV
df = pd.read_csv("D:/Git/GWU-ARL-DATA-PT-09-2019-U-C/02-Homework/04-Pandas/Instructions/Part-1/Pandas_Mini_Project_Task_A/Resources/2016-FCC-New-Coders-Survey-Data.csv", low_memory = False)
df.shape

(15620, 113)

In [3]:
# Read with pandas--low_memory required to suppress errors about mixed data types

In [4]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
columns = [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]
extract_df = df.iloc[:, columns]
extract_df.shape

(15620, 21)

In [5]:
df.count()

Age                      13613
AttendedBootcamp         15380
BootcampFinish             933
BootcampFullJobAfter       635
BootcampLoanYesNo          934
BootcampMonthsAgo          631
BootcampName               895
BootcampPostSalary         330
BootcampRecommend          937
ChildrenNumber            2554
CityPopulation           13630
CodeEventBootcamp           42
CodeEventCoffee           2077
CodeEventConferences      2898
CodeEventDjangoGirls        18
CodeEventGameJam            22
CodeEventGirlDev           558
CodeEventHackathons       2422
CodeEventMeetup            313
CodeEventNodeSchool        480
CodeEventNone             8900
CodeEventOther             921
CodeEventRailsBridge       255
CodeEventRailsGirls         14
CodeEventStartUpWknd       743
CodeEventWomenCode         711
CodeEventWorkshop           23
CommuteTime               8339
CountryCitizen           13654
CountryLive              13610
                         ...
PodcastWebAhead             15
ResourceBlogs               30
ResourceBooks              144
ResourceCodeWars          1563
ResourceCodecademy        9586
ResourceCoursera          4844
ResourceDevTips            968
ResourceEdX               3472
ResourceEggHead             29
ResourceFCC              10937
ResourceGoogle              55
ResourceHackerRank          30
ResourceKhanAcademy       3746
ResourceLynda              150
ResourceMDN                 26
ResourceOdinProj          1687
ResourceOther             2093
ResourcePluralSight       3565
ResourceReddit              29
ResourceSkillCrush          36
ResourceSoloLearn           30
ResourceStackOverflow      191
ResourceTreehouse          422
ResourceUdacity           3306
ResourceUdemy             4130
ResourceW3Schools          121
ResourceYouTube            121
SchoolDegree             13679
SchoolMajor               8450
StudentDebtOwe            3514
Length: 113, dtype: int64

In [6]:
# Change reading 0 and 1 to No and Yes, respectively
extract_df['AttendedBootcamp'] = extract_df['AttendedBootcamp'].apply(lambda x: "no" if x==0 else "yes")
extract_df['BootcampRecommend'] = extract_df['BootcampRecommend'].apply(lambda x: "no" if x==0 else "yes")

extract_df.shape

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

(15620, 21)

In [7]:
# Extract rows for only those who attended a bootcamp
attend_df = extract_df.loc[extract_df["AttendedBootcamp"] == "yes", :]
rec_df = extract_df.loc[extract_df["BootcampRecommend"] == "yes", :]
attend_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
58,24.0,yes,NaN,NaN,NaN,NaN,NaN,yes,NaN,"between 100,000 and 1 million",...,Macedonia,NaN,Not working but looking for work,male,NaN,10.0,NaN,NaN,bachelor's degree,Computer Science
93,32.0,yes,1.0,0.0,0.0,Codify Academy,NaN,no,NaN,"between 100,000 and 1 million",...,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,yes,1.0,1.0,0.0,DaVinci Coders,45000.0,no,NaN,more than 1 million,...,United States of America,software development,Employed for wages,male,0.0,10.0,40000.0,NaN,master's degree (non-professional),Music
130,41.0,yes,1.0,1.0,1.0,Coder Foundry,75000.0,yes,3.0,"less than 100,000",...,United States of America,software development,Employed for wages,male,1.0,30.0,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,yes,1.0,0.0,0.0,General Assembly,NaN,no,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN

In [8]:
# Create DataFrame of the different boot camps that had a significant number of attendees
attend_df.groupby("BootcampName", group_keys = True)
rec_df.groupby("BootcampName", group_keys = True)

In [9]:
# Count how many attendees of each bootcamp would recommend the bootcamp
bc_attend = attend_df["BootcampName"].value_counts()
bc_attend_df = pd.DataFrame(bc_attend)
bc_attend_df.reset_index(inplace = True)
bc_attend_df.columns = ["Bootcamp Name", "Total Attendance"]

bc_rec = rec_df["BootcampName"].value_counts()
bc_rec_df = pd.DataFrame(bc_rec)
bc_rec_df.reset_index(inplace = True)
bc_rec_df.columns = ["Bootcamp Name", "Total Recommendations"]

In [10]:
# Merge the two created data frames on the name of tbe bootcamp
merged_table = pd.merge(bc_attend_df, bc_rec_df, on="Bootcamp Name", how='inner')
merged_table
merged_table["Total Recommendations"].value_counts()

1     44
2     19
3     15
4      6
8      6
5      5
11     4
6      3
13     2
15     2
10     1
12     1
70     1
50     1
18     1
19     1
20     1
25     1
26     1
27     1
31     1
41     1
14     1
Name: Total Recommendations, dtype: int64

In [11]:
# Calculate percentage of each bootcamp's students who are recommenders
merged_table["Pct That Recommend"] = 100 * merged_table["Total Recommendations"] / merged_table["Total Attendance"]

merged_table = round(merged_table.sort_values(by = ["Pct That Recommend"], ascending = False), 2)
merged_table["Pct That Recommend"] = merged_table["Pct That Recommend"].map("{0:,.2f}%".format)

In [12]:
# Export to excel and remove index
merged_table

table.to_excel("output/Bootcamppart1.xlsx", index = False)

,Bootcamp Name,Total Attendance,Total Recommendations,Pct That Recommend
118,Microsoft Research Data Science Summer School,1,1,100.00%
95,Science to Data Science,1,1,100.00%
52,Academia de Código,4,4,100.00%
91,TalentBuddy,1,1,100.00%
92,Coder's Lab,1,1,100.00%
93,Operation Spark,1,1,100.00%
48,Skillcrush,4,4,100.00%
94,CodeMasters Academy,1,1,100.00%
96,Code Institute,1,1,100.00%
54,devCodeCamp,4,4,100.00%
97,Coder Foundry,1,1,100.00%
98,Academic Work Academy,1,1,100.00%
99,Code 42,1,1,100.00%
100,Byte Academy,1,1,100.00%
101,Alphappl,1,1,100.00%
102,Ruby On The Beach,1,1,100.00%
90,Launch School (formerly Tealeaf Academy),1,1,100.00%
55,Grace Hopper Academy,3,3,100.00%
35,Fullstack Academy,6,6,100.00%
83,Codecademy Labs,2,2,100.00%
71,AcadGild,2,2,100.00%
75,Omaha Code School,2,2,100.00%
69,Eleven Fifty Academy,2,2,100.00%
78,Telegraph Academy,2,2,100.00%
79,Code Platoon,2,2,100.00%
82,CODEcamp Charleston,2,2,100.00%
64,LEARN Academy,3,3,100.00%
56,Dev League,3,3,100.00%
84,Coder Factory,2,2,100.00%
86,Big Nerd Ranch,2,2,100.00%
...,...,...,...,...
67,Learn.Modern-Developer,3,2,66.67%
68,Tech Academy Portland,3,2,66.67%
19,Tech Talent South,12,8,66.67%
29,4Geeks Academy,8,5,62.50%
14,Coding Dojo,18,11,61.11%
41,Bitmaker Labs,5,3,60.00%
40,10x.org.il,5,3,60.00%
22,Codeup,10,6,60.00%
37,CodeCore Bootcamp,5,3,60.00%
32,Startup Institute,7,4,57.14%
13,Galvanize,20,11,55.00%
21,Coder Camps,11,6,54.55%
10,Bloc.io,21,11,52.38%
34,Wyncode,6,3,50.00%
72,Digital House,2,1,50.00%
70,PDX Code Guild,2,1,50.00%
46,Codesmith,4,2,50.00%
49,RefactorU,4,2,50.00%
85,Fire Bootcamp,2,1,50.00%
81,Metis,2,1,50.00%
80,HackerYou,2,1,50.00%
77,LearningFuze,2,1,50.00%
76,Mobile Makers Academy,2,1,50.00%
57,Zip Code Wilmington,3,1,33.33%
60,tradecraft,3,1,33.33%
61,We Can Code IT,3,1,33.33%
63,Starter League,3,1,33.33%
66,V School,3,1,33.33%
59,Coding House,3,1,33.33%
43,Codify Academy,4,1,25.00%